<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Puppe Counter</title>
</head>
<body>
	<div class="container">
		<h1 class="titulo">Puppe Counter</h1>
		<p class="frase">
			Estamos a <span id="contador"><%= contadorTexto %></span> sem o Puppe falar que São Paulo é melhor que Porto Alegre. Nosso recorde é de <span id="recorde"><%= recordeTexto %></span>.
		</p>
		<span id="contador-time" style="visibility: hidden"><%= contador %></span>
		<span id="recorde-time" style="visibility: hidden"><%= recorde %></span>

		<form action="/zera-contador" method="POST">
			<button type="submit">Zerar o contador</button>
		</form>
	</div>
	
	<script src="js/main.js"></script>
</body>
</html>